name: Trivy

on:
  schedule:
    - cron: '37 12 * * *'

jobs:
  build:
    uses: "trexx/actions/.github/workflows/trivy.yml@main"
    secrets: inherit
    with:
      image-name: ${{ github.repository }} 
